size-card {
  width: 220px;
  display: inline-block;
}

.supertrunfo {
  width: 100%;
  height: 342px;
  border-radius: 15px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  font-size: 15px !important;
  font-family: 'Roboto', sans-serif !important;
  color: #fff;
}

.flip-card {
  position: relative;
  height: 342px;
  z-index: 1;
  cursor: pointer;
}

.flip-card {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.flip-card-hover:hover .supertrunfo,
.flip-card.hover_effect .supertrunfo {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}

.supertrunfo-face {
  position: absolute;
  width: 100%;
  height: 342px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(./../../assets/images/wallpaper.jpeg);
 background-size: cover;
}

.supertrunfo-front {
  border: 5px solid #FFDA32;
}

.supertrunfo-back {
  border: 5px solid #FFDA32;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.profile-box {
  margin: 10px;
}
h4 {
  text-align: center;
  margin: 5px;
}

.photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid white;
  background: white;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.skill-box {
  margin: 10px 0px;
line-height: 20px !important;
}
.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
}

.skill-name {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 5px;
}

.skill-star {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 5px;
}

ul#links-list {
  bottom: 0px;
  position: absolute;
  list-style: none;
 padding: 0px;
  margin: 10px;
}

ul#links-list li {
  display: inline;
}

.linkedin svg {
  background: #0077B5;
  border-radius: 10%;
  height: 50px;
}

.linkedin path {
  fill: white;
}