.infinite-scroll-component{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  
  }
  .box {
    flex: 1;
      justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    transition: all 0.3s;
   
  }
  .box:hover {
    .box-img{
      border: 3px solid rgb(255, 251, 0);
    }
  
  }
.box-img{
  width:60px;
  height: 60px;

  overflow: hidden;
  margin: 0;
  border: 3px solid red;
  border-radius: 100%;
 
  img{
    width: 100%;
    border-radius:100%;
  }
  
}

.title{
  font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    color: #fff;
    text-align: left;
    margin-top: 29px;
  
}